.displaySide{
    background-color: var(--main-bg-color);
    
    min-width: 520px;
    max-width: 1640px;
    min-height: 780px;
    max-height: 1900px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    min-width: 520px;
    max-width: 1640px;
    min-height: 780px;
    max-height: 1900px;
    
}
.left{
    display: flex;
    background-color: var(--main-bg-color);
    min-width: inherit;
    max-width: inherit;
    min-height: inherit;
    max-height: inherit;
}
.right{
    display: flex;
    background-color: var(--main-bg-color);
    min-width: inherit;
    max-width: inherit;
    min-height: inherit;
    max-height: inherit;
}
.displayComponentHeader{
    display: flex;
    flex-direction: column;
    flex:1;
}
.displayComponent{
    display: flex;
    flex-direction: column;
}
.personalDisplay{
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 55, 78);
    color: var(--main-bg-color);
    padding: 20px;
    flex: 1;
}
.top >.personalDisplay {
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 55, 78);
    color: var(--main-bg-color);
    padding: 20px;
    max-height: 100px;
}
.personalName{
    padding-bottom: 10px;
    font-size: x-large;
    font-weight: bold 700;
}
.restPersonalDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}
.detail{
    display: flex;
    font-size: smaller;
}

.sectionDisplay{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--main-bg-color);
    min-height: 70px;
}
.educationDisplayTitle{
    background-color: rgb(238, 241, 243);
    color: var(--main-color);
    margin-left: 20px;
    margin-right: 20px;
    font-size: medium;
}
.educationInfo{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 10px;
    align-items: center;
}
.experienceInfo{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.5fr 0.5fr;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 10px;
    align-items: center;
}
.infoDate{
    text-align: start;
    align-self: flex-start;
    font-size: small;
}
.infoTitle{
    display: flex;
    justify-self: flex-start;
    font-size: medium;
    font-weight: bold 700;
}
.infoLocation{
    display: flex;
    justify-self: flex-start;
    font-size: smaller;
}
.infoDescription{
    display: flex;
    justify-content:flex-start;
    text-align:start;
    font-size: smaller;
}
.infoTitlePosition{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}





.displayFontMono{
    font-family: "mono", "monoBold", sans-serif;;
}
.displayFontSansSerif{
    font-family: sans-serif;
}
.displayFontPTSerif{
    font-family: "PTSerif", "PTSerifBold", sans-serif;;
}