.displaySide{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    margin-left: 20px;
    min-width: 400px;
    max-width: 480px;
    
    min-height: 780px;
    max-height: 800px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.personalDisplay{
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 55, 78);
    color: var(--main-bg-color);
    padding: 20px;
}
.personalName{
    padding-bottom: 10px;
    font-size: x-large;
    font-weight: bold;
}
.restPersonalDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}
.detail{
    display: flex;
    font-size: smaller;
}

.sectionDisplay{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--main-bg-color);
}
.educationDisplayTitle{
    background-color: rgb(226, 217, 217);
    color: var(--main-color);
    margin-left: 20px;
    margin-right: 20px;
    font-size: medium;
}
.educationInfo{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    gap:10px;
    align-items: center;
}
.experienceInfo{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    gap:10px;
    align-items: center;
}
.infoDate{
    justify-self: flex-start;
    font-size: small;
}
.infoTitle{
    justify-self: flex-start;
    font-size: larger;
    font-weight: bold;
}
.infoLocation{
    justify-self: flex-start;
}
.infoDescription{
    justify-self: flex-start;
}