.editSide{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputPersonal{
    background-color: rgb(238, 241, 243);
    color: var(--main-color);
    border: none;
    border-radius: 25px;
    padding-left: 5px;
    height: 20px;
}
.personalLabel{
    text-align: left;
}
.personalDetails{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    font-size: smaller;
    gap: 10px;
}
#personalTitle{
    padding: 0px;
    margin: 0;
}
.recommended{
    font-size: x-small;
    color: rgb(212, 207, 207);
}

.educationForm{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    font-size: smaller;
    gap: 10px;
}
.educationTitle{
    display: flex;
    align-items: center;
}
.dropdownButton{
    display: flex;
    align-items: center;
    flex:1;
}
.edutitle{
    flex:1;
}
.symbolButton{
    font-size: larger;
    font-weight: bolder;
}
.inputsEducation{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    font-size: smaller;
}
.formButtons{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}