.editSide{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputPersonal{
    background-color: rgb(238, 241, 243);
    color: var(--main-color);
    border: none;
    border-radius: 25px;
    padding-left: 5px;
    height: 20px;
}
.personalLabel{
    text-align: left;
}
.personalDetails{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    font-size: smaller;
    gap: 10px;
}
#personalTitle{
    padding: 0px;
    margin: 0;
}
.recommended{
    font-size: x-small;
    color: rgb(212, 207, 207);
}

.educationForm{
    display: flex;
    flex-direction: column;
    background-color: inherit;
    border-radius: 20px;
    font-size: smaller;
    gap: 10px;
}
.educationTitle{
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
}
.dropdownButton{
    display: flex;
    align-items: center;
    flex:1;
    background-color: var(--main-bg-color);
}
.educationAdd{
    display: flex;
}
.educationButtonAdd{
    display: flex;
    align-items: center;
    flex:1;
    background-color: var(--main-bg-color);
}
.educationInfoButton{
    border-radius: 0%;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    flex:1;
}
.edutitle{
    flex:1;
}
.symbolButton{
    font-size: larger;
    font-weight: bolder 1000;
}
.inputsEducation{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    background-color: var(--main-bg-color);
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    font-size: smaller;
}
.formButtons{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
.buttonInit{
    display: flex;
    gap:10px;
    font-size: smaller;
}
.buttonInitClear{
    color: red;
}

.card{
    text-align: start;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 15px;
    background-color: var(--main-bg-color);
}
.cardTitle{
    font-size: larger;
    font-weight: bold 700;
}
.cardComponents{
    display: flex;
    gap: 20px;
    min-height: 50px;
    align-items: center;
    
}
.layoutButtonTop{
    margin: 0%;
    padding: 0%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}
.layoutButtonTop >div{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 50px;
    height: 25px;
}
.layoutButtonLeft >div{
    width: 25px;
    height: 50px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.layoutButtonRight >div{
    width: 25px;
    height: 50px;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}
.layoutButtonLeft, .layoutButtonRight{
    display: flex;
    margin: 0%;
    padding: 0%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}
input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
  }
  
input[type="color" i] {
    appearance: auto;
    width: 50px;
    height: 50px;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    border-width: 1px;
    border-style: solid;
    border-color: buttonborder;
    border-image: initial;
    padding: 1px 2px;
}
input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}
