#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --main-bg-color: white;
  --main-color: black;
  background-color: rgb(238, 241, 243);
}

.app{
  display: grid;
  grid-template-columns: 1fr 3fr;
}