#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  --main-bg-color: white;
  --main-color: black;
  background-color: rgb(238, 241, 243);
  height: 100%;
}
body{
  height: 100%;
  background-color: rgb(238, 241, 243)
}
.app{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2rem;
  font-family: 'MyWebFont', Fallback, sans-serif;
}
.font-face-didot {
  font-family: "GFSDidot-Regular";
}
.font-face-JosefinSans-Italic-VariableFont_wght {
  font-family: "JosefinSans-Italic-VariableFont_wght";
}
